*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background:#FAF7F2;
    color:#2C2C2C;
}
.header{
    padding: 1rem;
    background:#FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    box-shadow:0 3px 10px rgba(0,0,0,0.05);
    z-index: 100;
    top: 0;            /* Ensure the header sticks to the top */
    position: sticky;
}
.logo{
    text-transform: capitalize;
    color:#3A7D44;
}
.nav a{
    text-decoration: none;
    margin-left: 0.6rem;
    text-transform: capitalize;
    color:#2C2C2C;
    font-size: 16px;
}
.nav a:hover{
    color: #3A7D44;
}
.cart{
    border: none;
    background: #FF7A18;
    color: white;
    padding: 0.4rem 0.6rem;
    border-radius: 16px;
}
/*products section*/
.products-section{
    padding: 2rem 1rem;
    background: #f5f5f5;
}
.products-section h2{
    text-align: center;
    text-transform: capitalize;
     color:#C68642;
}
.products-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-top: 1.5rem;
}
.card{
    background:#FFFFFF;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}
.card img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 0px;
}
.card h4{
    font-size: 20px;
    margin-bottom: 0.2rem;
    text-transform: capitalize;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin-bottom: 0.2rem;
}
.span1{
    text-decoration: line-through;
    font-size: 12px;
    color: gray;
}
.span2{
    border-radius: 4px;
    padding: 0.2em;
    background:#FF7A18;
    font-size: 12px;
    color: black;
}
.card h5{
    font-size: 16px;
    margin-bottom: 0.4rem;
    text-transform: capitalize;
}
.card p{
    font-size: 14px;
    line-height: 1rem;
    color:#555;
    margin-bottom: 1rem;
}
.card button{
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background: #3A7D44;
    color: white;
    border-radius: 16px;
    text-decoration: none;
}
.card button:hover{
    background:#2F5D34;;
}
.placeorder{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background: #FF7A18;
    color: white;
    border-radius: 16px;
    text-decoration: none;
}

/*featured section*/
.featured-section{
    padding: 2rem 1rem;
}
.featured-section h2{
    text-align: center;
    text-transform: capitalize;
     color:#C68642;
}
.featured-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 1rem;
}
.featured-card{
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    background: #ffffff;
    margin-bottom: 1.2rem;
}
.featured-card img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 8px;
}
.featured-card h4{
    text-transform: capitalize;
    font-size: 16px;
}
.featured-card p{
    color: #555;
    font-size: 12px;

}
.more{
    text-align: center;
}
.more a{
    text-decoration: none;
    border: none;
    border-radius: 16px;
    background: #FF7A18;
    padding: 0.4rem 0.6rem;
    color: white;
}
.more a:hover{
    background: #C68642;
}
.footer{
    padding: 1rem;
    background: rgb(234, 231, 231);
    text-align: center;
}
.footer h3{
    text-transform: capitalize;
    margin-bottom: 0.2rem;
    color: #3A7D44;
}
.link{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}
.link a{
    text-decoration: none;
    margin-bottom: 0.8rem;
    text-transform: capitalize;
    font-size: 16px;
    color:#2C2C2C;
}
.link a:hover{
    color: #3A7D44;
}
.footer p{
    text-transform: capitalize;
    font-size: 12px;
    color: #FF7A18;
}
.featured-card, .card{
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.featured-card:hover,.card:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}


/*message area*/

/* Message Section */
.message-section{
    padding: 2rem 1rem;
    background: #f5f5f5;
    text-align: center;
}

.message-section h2{
    text-transform: capitalize;
    color:#C68642;
    margin-bottom: 1rem;
}

#message-form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#message-form input,
#message-form textarea{
    padding: 0.6rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

#message-form textarea{
    resize: none;
    height: 100px;
}

.rating{
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}

.rating span{
    transition: 0.3s;
}

.rating span.active{
    color: #FF7A18;
}

.send-btn{
    padding: 0.6rem;
    border: none;
    background: #3A7D44;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.send-btn:hover{
    background:#2F5D34;
}


/*for big screeen*/
@media(min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .products-grid{
        grid-template-columns: repeat(4,1fr);

    }
    .card{
        min-height: fit-content;
    }
    .card p{
        font-size: 20px;
    }
    .featured-grid{
        grid-template-columns: repeat(4,1fr);
    }
}
@media(min-width: 1024px){
    .featured-grid{
        grid-template-columns: repeat(4,1fr);
    }
}



/*intro*/
.intro {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.intro-content {
    max-width: 800px;
    margin: auto;
}

.intro h2 {
    margin-bottom: 15px;
    font-size: 28px;
}

.intro p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

