*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background:#FAF7F2;
    color:#2C2C2C;
}
.header{
    padding: 1rem;
    background:#FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
     box-shadow:0 3px 10px rgba(0,0,0,0.05);
}
.logo{
    text-transform: capitalize;
    color:#3A7D44;
}
.nav a{
    text-decoration: none;
    margin-left: 0.6rem;
    text-transform: capitalize;
    color:#2C2C2C;
    font-size: 16px;
}
.nav a:hover{
    color: #3A7D44;
}
/*products section*/
.products-section{
    padding: 2rem 1rem;
    background: #f5f5f5;
}
.products-section h2{
    text-align: center;
    text-transform: capitalize;
     color:#C68642;
}
.products-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-top: 1.5rem;
}
.card{
    background:#FFFFFF;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}
.card img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 0px;
}
.card h4{
    font-size: 20px;
    margin-bottom: 0.2rem;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin-bottom: 0.2rem;
}
.span1{
    text-decoration: line-through;
    font-size: 12px;
    color: gray;
}
.span2{
    border-radius: 4px;
    padding: 0.2em;
    background:#FF7A18;
    font-size: 12px;
    color: black;
}
.card h5{
    font-size: 16px;
    margin-bottom: 0.4rem;
    text-transform: capitalize;
}
.card p{
    font-size: 12px;
    line-height: 1rem;
    color:#555;
    margin-bottom: 1rem;
}
.card a{
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background: #3A7D44;
    color: white;
    border-radius: 16px;
    text-decoration: none;
}
.card a:hover{
    background:#2F5D34;;
}

/*featured section*/
.featured-section{
    padding: 2rem 1rem;
}
.featured-section h2{
    text-align: center;
    text-transform: capitalize;
     color:#C68642;
}
.featured-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 1rem;
}
.featured-card{
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    background: #ffffff;
    margin-bottom: 1.2rem;
}
.featured-card img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 8px;
}
.featured-card h4{
    text-transform: capitalize;
    font-size: 16px;
}
.featured-card p{
    color: #555;
    font-size: 12px;

}
.more{
    text-align: center;
}
.more a{
    text-decoration: none;
    border: none;
    border-radius: 16px;
    background: #FF7A18;
    padding: 0.4rem 0.6rem;
    color: white;
}
.more a:hover{
    background: #C68642;
}
.footer{
    padding: 1rem;
    background: rgb(234, 231, 231);
    text-align: center;
}
.footer h3{
    text-transform: capitalize;
    margin-bottom: 0.2rem;
    color: #3A7D44;
}
.link{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}
.link a{
    text-decoration: none;
    margin-bottom: 0.8rem;
    text-transform: capitalize;
    font-size: 16px;
    color:#2C2C2C;
}
.link a:hover{
    color: #3A7D44;
}
.footer p{
    text-transform: capitalize;
    font-size: 12px;
    color: #FF7A18;
}
.featured-card, .card{
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.featured-card:hover,.card:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/*for big screeen*/
@media(min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .products-grid{
        grid-template-columns: repeat(3,1fr);
    }
    .card{
        min-height: fit content;
    }
    .featured-grid{
        grid-template-columns: repeat(4,1fr);
    }
}
@media(min-width: 1024px){
    .featured-grid{
        grid-template-columns: repeat(4,1fr);
    }
}

