*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
/*header section*/
.header{
    border: none;
    border-radius: 2px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.link a{
    text-decoration: none;
    margin-left: 1rem;
}
/*products section*/
.box{
    background: rgb(197, 193, 193);
    /* margin-bottom: 20px; */
    margin-top: 0;
}
.hero{
    width: 100%;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.box h2{
    text-align: center;
    color: black;
    margin-bottom: 5px;
    /* margin-top: 2px; */
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    max-width: 140px;
    width: 140px;
    margin-bottom: 10px;
    border-radius: 12px;
}
.image img{
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    border: 1px solid gray;
    border-radius: 6px;
}
.products button{
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 6px;
    font-size: 14px;
    text-transform: capitalize;
    font-style: italic;
    background: #047fff;
    margin-left: 12px;
}
/*featured products*/
.featured{
    background: white;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
}
.featured h3{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 2px;

}
.featuredarea{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-left: 50px;
}
.featuredbox{
    max-width: 120px;
    width: 120px;
    border: 1px solid black;
    padding: 5px 3px;
    height: fit-content;
    text-align: center;
    border-radius: 6px;

}
.featuredbox img{
    width: 80px;
    height: 80px;
    border: 1px solid gray;
    border-radius: 3px;
}
.ancherp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ancher a{
    border: 1px solid black;
    padding: 3px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
}
.footer{
    background: whitesmoke;
    padding: 10px;
}
.footerchild{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot a{
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 10px;
}
.footer p{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.footer h4{
    text-align: center;
    margin-bottom: 5px;
}


/*for monitor display*/
@media(min-width: 550px){
    .box{
        margin-bottom: 20px;
    }
    .hero{
        padding: 0px 40px 0px 80px;
        width: 100%;
        gap: 20px;
        align-items: center;
    }
    .box h2{
        margin-bottom: 1.6rem;
        margin-top: 5px;
    }
    .products{
        max-width: 260px;
        width: 220px;
        padding: 20px 10px 20px 10px;
        border: 2px solid black;
        margin-bottom: 20px;

    }
    .image img{
        width: 120px;
        height: 120px;
        margin-bottom: 1rem;

    }
    .products button{
    margin-left: 18px;
    border: 1px solid black;
    padding: 6px;
    font-size: 14px;
    font-style: italic;
}
    .featured{
        margin-bottom: 30px;
    }
    .featuredarea{
        padding: 20px;
        gap: 20px;
        margin-left: 120px;

    }
    .featuredbox{
        border: 2px solid black;
        max-width: 120px;
        width: 120px;
        height: fit-content;
        gap: 20px;
        padding: 20px 10px;
    }
    .featuredbox img{
        width: 80px;
        height: 80px;
    }

}

